head{
    margin-left:90px ;
}

body {
    font-family: "Lato", sans-serif;
}



.main-head{
    height: 150px;

    background-color:#005B28
   
}

.sidenav {
    height: 100vh;
    overflow-x: hidden;
    padding-top: 240px;
    padding-bottom: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    padding: 0px 10px;
}

@media screen and (max-height: 400px) {
    .sidenav {padding-top: 15px;}
    
}

@media screen and (max-width: 400px) {
    .login-form{
        margin-top: 20%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 20%;
    }

    .register-form{
        margin-top: 50%;
    }
}


.main{
    margin-top: 15%;
    padding: 25px;
    color:#005B28;
}

.main h1{
    font-weight: 300;
}

.btn-black{
    background-color:#005B28!important;
    color: #fff;
}